.editor-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
}

.box {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: blue;
}